.about-div {
  text-align: center;
  margin-top: 0;
}

.about-div-col {
  margin-top: 20px;
  margin-bottom: 20px;
}

.about-div-img {
  width: 50%;
  height: 50%;
}

.about-div-img-wrapper {
  width: 160px;
  height: 160px;
  background-color: white;
  border-radius: 50%;
  margin: 12px;
}

.about-div-col p {
  white-space: pre-wrap;
  font-size: 0.85em;
}

@media (min-width: 576px) {
  .about-div-img-wrapper {
    width: 140px;
    height: 140px;
    margin: 12px;
  }

  .about-div-col {
    margin-right: 12px;
    margin-left: 12px;
  }
}

@media (min-width: 768px) {
  .about-div-img-wrapper {
    width: 120px;
    height: 120px;
    margin: 10px;
  }

  .about-div-col {
    margin-right: 17px;
    margin-left: 17px;
    width: 210px;
  }
}

@media (min-width: 992px) {
  .about-div-img-wrapper {
    width: 135px;
    height: 135px;
    margin: 12px;
  }

  .about-div-col {
    margin-right: 35px;
    margin-left: 35px;
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
