.about-div {
  text-align: center;
}

.about-div-col {
  margin-top: 40px;
  margin-bottom: 40px;
}

.about-div-img {
  width: 50%;
  height: 50%;
}

.about-div-img-wrapper {
  width: 160px;
  height: 160px;
  background-color: white;
  border-radius: 50%;
  margin: 12px;
}

.about-div-col p {
  white-space: pre-wrap;
  font-size: 15px;
}

.about-div-col h3 {
  font-size: 20px;
}

@media (min-width: 576px) {
  .about-div-img-wrapper {
    width: 100px;
    height: 100px;
    margin: 12px;
  }
  .about-div-col h3 {
    font-size: 18px;
  }
  .about-div-col p {
    font-size: 11px;
  }
  .about-div-col {
    margin-right: 12px;
    margin-left: 12px;
  }
}
@media (min-width: 768px) {
  .about-div-img-wrapper {
    width: 120px;
    height: 120px;
    margin: 10px;
  }
  .about-div-col h3 {
    font-size: 23px;
  }
  .about-div-col p {
    font-size: 15px;
  }
  .about-div-col {
    margin-right: 17px;
    margin-left: 17px;
  }
}
@media (min-width: 992px) {
  .about-div-img-wrapper {
    width: 135px;
    height: 135px;
    margin: 12px;
  }
  .about-div-col h3 {
    font-size: 26px;
  }
  .about-div-col p {
    font-size: 15px;
  }
  .about-div-col {
    margin-right: 35px;
    margin-left: 35px;
  }
}
@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
  .about-div-col {
    margin-top: 3vw;
    margin-bottom: 3vw;
    margin-right: 4vw;
    margin-left: 4vw;
  }

  .about-div-img-wrapper {
    width: 10vw;
    height: 10vw;
    margin: 1vw;
  }

  .about-div-col p {
    font-size: 1vw;
  }

  .about-div-col h3 {
    font-size: 1.5vw;
  }
}
