.exp-div {
}
.exp-title {
  text-align: center;
}

.exp-table-col {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

.exp-table-col-r {
  padding-left: 3em;
}

.exp-table-col-l {
  padding-left: 2em;
}
