#navbar-main {
  background-color: #309063;
  padding: 20px;
  padding-left: 10vw;
}

.nav-link {
  text-align: right;
  margin-right: 6px;
  margin-left: 6px;
  font-size: 16px;
}

.navbar-brand img {
  width: 30px;
}

#jumbo {
  width: 100vw;
  height: 80vw;
  text-align: center;
  background: url("/assets/hero-bg.png");
  background-size: 2000px;
  background-repeat: no-repeat;
  background-position: center 93%;
}

#jumbo h1 {
  color: white;
  margin-top: 8%;
  font-size: 55px;
  letter-spacing: 2px;
}

#jumbo .h1-subtitle {
  font-size: 14px;
  margin-top: 1px;
  letter-spacing: 1.5px;
}

.h2-subtitle {
  font-size: 17px;
}

#jumbo p {
  color: white;
}

.btn-primary {
  background-image: none;
  border: none;
  border-radius: 0;
}

.main-divs {
  margin-top: 80px;
}

h1,
h2,
h3 {
  color: rgb(65, 145, 118);
}

h2 {
  font-size: 40px;
}

p {
  line-height: 2;
}

hr {
  width: 10vw;
  margin-bottom: 20px;
}

#main-container {
  background-color: #f8f8f8;
}

@media (min-width: 490px) {
  #jumbo {
    /* aspect-ratio: 1.8; */
    height: 70vw;
  }
}

@media (min-width: 576px) {
  #jumbo {
    /* aspect-ratio: 1.8; */
    height: 55vw;
  }
  #jumbo h1 {
    margin-top: 5%;
  }
}
@media (min-width: 768px) {
  #navbar-main {
    padding: 30px;
    padding-left: 15vw;
  }

  .nav-link {
    margin-right: 0px;
    margin-left: 20px;
    font-size: 18px;
  }

  .navbar-brand img {
    width: 35px;
  }

  #jumbo {
    /* aspect-ratio: 2.3; */
    height: 43vw;
  }

  #jumbo h1 {
    margin-top: 1%;
    font-size: 70px;
    letter-spacing: 3px;
  }

  #jumbo .h1-subtitle {
    font-size: 18px;
    letter-spacing: 3px;
  }
}
@media (min-width: 992px) {
  #navbar-main {
    padding: 35px;
    padding-left: 20vw;
  }

  .nav-link {
    margin-right: 0px;
    margin-left: 30px;
    font-size: 20px;
  }

  .navbar-brand img {
    width: 40px;
  }

  #jumbo {
    /* aspect-ratio: 2.5; */
    height: 40vw;
    background-size: 200%;
  }
  #jumbo h1 {
    margin-top: 3%;
  }
}
@media (min-width: 1200px) {
  #navbar-main {
    padding: 40px;
    padding-left: 22vw;
  }

  .nav-link {
    margin-right: 0;
    margin-left: 2vw;
    font-size: 23px;
  }

  .navbar-brand img {
  }

  #jumbo {
    /* aspect-ratio: 2.55; */
    height: 40vw;
  }
  #jumbo h1 {
    margin-top: 4.7vw;
    font-size: 90px;
    letter-spacing: 10px;
  }
  #jumbo .h1-subtitle {
    font-size: 22px;
    letter-spacing: 4px;
  }

  .main-divs {
    margin-top: 110px;
  }
}
@media (min-width: 1400px) {
}
