.jumbotron {
  /* background-image: url(/assets/me1.jpeg); */
  text-align: center;
  background-size: cover;
  padding-top: 10em;
  padding-bottom: 10em;
  margin-bottom: 0;
}

.btn-primary {
  background-image: none;
  border: none;
  border-radius: 0;
  background-color: #2892d7;
}

.main-divs {
  padding-top: 5em;
  padding-bottom: 10em;
}

.abi-div,
.profile-div {
  background-color: rgb(231, 252, 246);
}
.exp-div,
.proj-div {
}

.contact-div {
  background-color: rgb(177, 177, 177);
}

h1,
h2,
h3,
.exp-div.h4 {
  color: rgb(65, 145, 118);
}

.exp-table-link {
  color: rgb(55, 125, 101);
}

#main-container {
  background-color: #f8f8f8;
}
