.card {
  width: auto;
  margin: 1em;
}

.card-text {
  height: 5em;
  margin-bottom: 1em;
}

.card-title {
  height: 1em;
  margin-bottom: 1em;
}

.card-btn {
  border-radius: 0.3em;
  width: 8em;
}

/* .card-img-top {
  max-width: 100%;
  height: auto;
} */
