.card {
  width: auto;
  margin: 1em;
}

.card-text {
  height: 7em;
  margin-bottom: 1em;
}

.card-title {
  height: 2em;
  margin-bottom: 1em;
}

.card-btn {
  border-radius: 0.3em;
  width: 8em;
}
