.App {
  text-align: center;
}

div.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

h3 {
  margin-bottom: 0.5em;
}

h1,
h2,
h3,
h4,
h5,
p,
.btn,
#navbar-main {
  font-family: "Roboto Condensed", sans-serif;
}

.col,
p {
  font-family: "Ubuntu", sans-serif;
}

p {
  margin-bottom: 0.5em;
}
